body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.banner {
    background-color: rgb(2, 42, 85); /* Color de fondo del banner */
    color: white; /* Color del texto del banner */
    text-align: left;
    padding: 50px 20px; /* Espaciado interno (padding) del banner */
}

.banner h1 {
    margin: 0;
    font-size: 4.5em; /* Tamaño del texto del nombre */
}

.banner h2 {
    margin: 10px 0 0;
    font-size: 1.2em; /* Tamaño del texto de la descripción */
}
