body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.banner {
    background-color: #275d97; /* Color de fondo del banner */
    color: white; /* Color del texto del banner */
    text-align: left;
    padding: 50px 20px; /* Espaciado interno (padding) del banner */
}

.banner h1 {
    margin: 0;
    font-size: 4.5em; /* Tamaño del texto del nombre */
}

.banner h2 {
    margin: 10px 0 0;
    font-size: 1.2em; /* Tamaño del texto de la descripción */
}
.caja-solida {
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
}
.caja-punteada {
    border: 2px dotted red;
    padding: 10px;
    margin: 20px;
}
.caja-rayada {
    border: 2px dashed blue;
    padding: 10px;
    margin: 20px;
}
.button2 {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #010d1a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}
.button2:hover {
    background-color: #0056b3;
}
.button3 {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #580202;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}
.button3:hover {
    background-color: #e93c3c;
}