body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

.banner {
    background-color: #275d97; /* Color de fondo del banner */
    color: white; /* Color del texto del banner */
    text-align: left;
    padding: 50px 20px; /* Espaciado interno (padding) del banner */
}

.banner h1 {
    margin: 0;
    font-size: 4.5em; /* Tamaño del texto del nombre */
}

.banner h2 {
    margin: 10px 0 0;
    font-size: 1.2em; /* Tamaño del texto de la descripción */
}

.encab {
    width: 100vw; /* Ocupa todo el ancho del contenedor */
    height: 40vh; /* Ajusta la altura del banner */
    background-image: url(/imagenes/tablero-cinves-1.png); /* Ruta a la imagen */
    background-size: cover; /* La imagen cubre todo el contenedor */
    background-position: left; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    display: flex; /* Usa Flexbox para alinear el contenido */
}
.encab h1 {
    margin: 0px;
    align-items: center; /* Centra el contenido verticalmente */
    justify-content:right; /* Centra el contenido horizontalmente */
    color: white; /* Color del texto */
    text-align: right; /* Alinea el texto en el centro */
    font-size: 4.5em; /* Tamaño del texto */
    padding: 0px; /* Espaciado interno */
    box-sizing: border-box; /* Incluye el padding en el cálculo del tamaño */
}

.caja-solida {
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
}
.caja-punteada {
    border: 2px dotted red;
    padding: 10px;
    margin: 20px;
}
.caja-rayada {
    border: 2px dashed blue;
    padding: 10px;
    margin: 20px;
}
.button2 {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #0056b3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}
.button2:hover {
    background-color: #0369d6;
}
.button3 {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #ec4444;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}
.button3:hover {
    background-color: #eb6d6d;
}
.video-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Dos columnas de tamaño mínimo 300px */
            gap: 20px; /* Espacio entre los videos */
            max-width: 100%;
}
.video-container {
            position: relative;
            padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
            height: 0;
            overflow: hidden;
            background: #000;
}
.video-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
}
.home-button {
    display: inline-block;
    margin: 20px 0;
    padding: 10px;
    font-size: 24px;
    color: #fff;
    background-color: #034d9c;
    text-decoration: Home;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    text-align: center;
    line-height: 30px; /* Alinea el icono verticalmente */
    transition: background-color 0.3s ease;
}
.home-button:hover {
    background-color: #0056b3;
}
.button4 {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007736;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}
.button4:hover {
    background-color: #81f19d;
}
.ambiente {
    padding: 10px 20px;
    font-size: 16px;
    color: rgb(8, 8, 8);
    background-color: #ffffffc7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}
.image-container {
   /* width: 50%;*/
    text-align: center;
}
.custom-image {
    width: 450px; /* Ajusta el ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    border: 2px solid #000; /* Añade un borde negro */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Sombra */
    display: block;
    margin: 0 auto; /* Centra la imagen horizontalmente */
}
.svg-container {
    text-align: center;
}
.svg-container img {
    max-width: 100%;
    height: auto;
}
.center-horizontal {
    width: 50%; /* Ajusta el ancho según sea necesario */
    margin: 0 auto; /* Centra el div horizontalmente */
    background-color: lightblue; /* Solo para visualización */
    text-align: center; /* Centra el contenido del texto dentro del div */
}